mat-card {
  box-shadow: 2px 2px 2px;
  margin: 1rem 0;
  display: flex;
  width: 120px;
}

img {
  width: 300px;
  height: 300px;
  object-fit: none;
  opacity: 0.77;
  a:hover {
    opacity: 1;
  }
  &:after {
    background-color: black;
  }
}
p {
  float: 1;
}
