<button routerLink=''>home</button>
<mat-spinner *ngIf="loading; else showProduct"></mat-spinner>

<ng-template #showProduct>
  <div class="product-wrapper" *ngIf="product">
    <h2>{{ product.id }} - {{ product.name }} </h2>
    <carousel>
      <div class="carousel-cell" *ngFor="let img of images">
        <img src="{{ img.src }}">
      </div>
    </carousel>
  </div>

  <!-- <mat-form-field appearance="fill">
    <mat-label>Escolha a data</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->

</ng-template>
