/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
  background-color: #282a36 !important;
  color: white !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  background: white;
  color: hsl(231, 15%, 18%);
  margin: 15px auto;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.mat-form-field {
  display: table!important;
  position: relative;
  text-align: center!important;
  width: 300px;
  margin: 3rem auto;
}

.cart-icon {
  width: 50px;
  height: 50px;
  font-size: 61px;
  float: right;
  position: relative;
  top: 0;
  margin-top: 0;
}
